---
---

//
// IMPORTS
//

@import "variables";

// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

code, kbd, pre, samp {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

h1, h2, h3, h4, h5, h6 {
  color: $darkerGray;
  //font-weight: normal;
  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 25px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 16px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $red;
  text-decoration: none;
  cursor: pointer;
  &:hover, &:active {
    color: $black;
    text-shadow: none!important;
  }
}
*:not(pre)>code{
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
  /* border: 1px solid #eaeaea; */
  /* color: #333; */
  /* padding: 2px .5ex; */
  /* letter-spacing: 0; */
  /* word-spacing: -.15em; */
  /* background-color: #fafafa; */
  /* -webkit-border-radius: 4px; */
  /* display: inline-block; */
  /* border-radius: 4px; */
  line-height: 1;
  margin: 0 5px;
  /* text-rendering: optimizeSpeed; */
}
pre{
  padding: 0;
  margin: 0;
}
kbd {
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  background-color: #fafafa;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), 0 0 0 0.1em white inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), 0 0 0 0.1em #fff inset;
  margin: -.15em .15em 0 .15em;
  padding: 3px 5px;
  vertical-align: middle;
  white-space: nowrap;
}
ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
  color: #222;
}

img {
  max-width: 100%;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
}
img.emoji{
  vertical-align: text-bottom;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
  text-shadow: none;
}
::selection {
  color: $black;
  background: $lightGray;
  text-shadow: none;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

pre>code  {
  background: #fafafa;
  color: #888;;
  display: block;
  //-webkit-font-smoothing:subpixel-antialiased;
  padding: 10px 20px;
  text-shadow: none;
  line-height: 1.5;
  font-size: 14px;
  border-radius: 3px;
  max-height: 500px;
  overflow: auto;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/
*{
  box-sizing: border-box;

}
html{font-family:'Assemble SSm A', 'Microsoft YaHei', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{
  text-shadow: 0 1px white;
  -webkit-font-smoothing:antialiased;
  height: 100%;
  width: 100%;
  line-height: 2;
  color: #666;
  box-sizing: border-box;
  font-size: 14px;
  background: #f5f5f5;
  font-weight: 200;
  font-family: 'Assemble SSm A', 'Microsoft YaHei','微软雅黑', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}


.logo{
  border-radius: 50%;
  height: 120px;
  width: 120px;
  -webkit-filter: grayscale(100%);
  opacity: .8;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.13);
  padding: 3px;
}
.logo-title{
  font-size: 22px;
  // color: #EB5424;
  cursor: default;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 1;
  b{
    color: #666;
  }
}
.sub-title{
  cursor: default;
  padding-top:10px;
  color: #aaaaaa;
}
.header{
  text-align: center;
  width: $sidewidth;
  position: fixed;
  left: 0;
  top: 80px;
}
.mainmenu{
  margin: 30px 0 0px;padding: 0;
}
.mainmenu li{
  display: inline-block;

}
.mainmenu li a,.mainmenu li a:link,.mainmenu li a:visited{
  color: #F97F46;
  text-decoration: none;
  overflow: hidden;
  border-radius: 30px;
  line-height: 1;
  text-align: center;
  padding: 2px 8px;
  display: inline-block;
}
.mainmenu li a:hover{
  transition: all 250ms ease-in-out;
  color:white;
  background: $red;
}
.header .mainmenu li,.posts li{
  list-style: none;
}

.wrapper{
  width: 800px;
  overflow: hidden;
  margin: 0 0 0 400px;
  position: relative;
  padding: 10px 30px;
  background-color: #fff;
  text-shadow: none;


  .posts{
    margin: 0;
    line-height: 2.5;
    padding-bottom: 80px;
    overflow: hidden;
    i.listing-seperator{
      display: block;
      text-align: right;
      margin-right: -3px;
      font-size: 28px;
      font-weight: 200;
      font-family: "Georgia";
      color: #aaa;
    }
  }
  .posts-item a {
    //color: #333;
    //-webkit-font-smoothing: subpixel-antialiased;
    font-size: 18px;
    line-height: 1;
    &:hover{
      color: $red;
    }
    &:active {
      color: $red;
    }
  }
  .posts-item{
    border-bottom: 2px solid #f5f5f5;
    //border-bottom: 1px solid rgba(0,0,0,0.13);
    //border-top: 1px solid rgba(255,255,255,0.7);
    padding: 30px 0 20px;
    display: block;
    &:first-child{
      border-top: none;
    }
    &:last-child{
      border-bottom: none;
    }
    .posttitle{
      margin-left: 120px;
    }
    .desc{
      font-size: 14px!important;
      font-weight: inherit;
      color: #888;
      line-height: 2;
      *{
        font-size: 14px!important;
        line-height: 2;
        font-weight: inherit;
        color: #888;
        padding: 0;
        margin: 0;
      }
    }
  }
  .posts span:after {
    display: block;
    content: "";
    width: 5px;
    height: 5px;
    background: #ccc;
    float: right;
    margin: 12px 15px 0 0;
  }
  .posts span{
    font-size: 12px;
    font-family: "Georgia";
    color: $red;
    font-style: italic;
    width: 115px;
    display: inline-block;
    position: absolute;
  }


  .paginator-list{
    margin: 20px 0;
    a{
      color: #afafaf;
      display: inline-block;
      margin-right: 10px;
      &:hover, &:active {
        color: $red;
      }
    }
    a.current{
      color:#666;
    }
  }

  .entry{
    font-size:16px;
    a{
          border-bottom: 1px dashed #ddd;
      color: #888;
      &:hover, &:active {
        color: #333;
      }
    }
  }
  .post{
    table {
      display: block;
      width: 100%;
      overflow: auto;
      word-break: normal;
      word-break: keep-all
    }
    table th {
      font-weight: bold
    }
    table th,table td {
      padding: 6px 13px;
      border: 2px solid #f5f5f5;
      line-height: 25px;
    }
    table tr {
      background-color: #fff;
      border-top: 1px solid #ddd
    }
    table tr:nth-child(2n) {
      //background-color: #fafafa
    }
    span.lineno {
      font-size: 12px;
      color: #999;
      text-shadow: 1px 1px 0 white;
      padding-right: 10px;
    }
    h2{
      //border-left: 3px solid #ddd;
      line-height: 1;
      display: block;
      margin: 50px 0 20px;
    }
    hr{
      border: 1px solid #fafafa;
    }
    #page_nav,.relatedposts{
      position: relative;
      .split{
        margin-top: 40px;
      }
      i{
        position: absolute;
        top: -20px;
        right: 0;
        color: #999;
        font-style: normal;
        background-color: #fafafa;
        border-radius: 5px 5px 0 0;
        line-height: 1;
        padding: 4px 10px;
      }
    }
    em{
      background-color: #f5f5f5;
      padding: 1px 1px;
      /* text-shadow: 1px 1px 0 white; */
      /* -webkit-font-smoothing: subpixel-antialiased; */
      font-style: normal;
    }
  }

  .listing-seperator{
    list-style: none;
    margin: 30px 0 0 -30px;
    font-weight: bold;
  }
  .listing{
    .listing-item{
      time{
        display: inline-block;
        width: 66px;
        font-style: italic;
        font-size: 12px;
        font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
      }
    }
  }

  #tag_cloud{
    a{
      display: inline-block;
      padding: 1px 8px;
      border: 1px solid #F97F46;
      border-radius: 30px;
      line-height: 1;
      text-align: center;
      margin-right: 6px;
      &:hover, &:active {
        transition: all 250ms ease-in-out;
        background: $red;
        color: white;
      }
    }

  }
}

.footer{
  color: #aaaaaa;
  position: fixed;
  bottom: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  left: 80px;
  a{
    color: #aaaaaa;
    &:hover, &:active {
      color: $red;
    }
  }
}
@media screen and (max-width: 800px) {
  .wrapper .posts span{
    display: none;
  }
  .wrapper .posts-item .posttitle{
    margin:0;
  }
  .header{
    margin: 0;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 0;
  }
  .wrapper{
    padding:10px;
    width:100%;
    box-sizing: border-box;
    margin:0;
  }
  .footer{
    display: none;
  }
}



// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
